/* @import './base.css';

/* Full height layout untuk html, body, dan #app */
/*
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
*/

/* Center layout default */
/*
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  overflow-x: hidden;
}
*/

/* Wrapper App */
/*
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
*/

/* Link style */
/*
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
*/

/* Hover */
/*
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
*/

/* Desktop layout at >= 1024px */
/*
@media (min-width: 9999px) {
  body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: 100%;
  }
}
*/
